# For, If,Functions

Functions in Python. A function is a set of statements that take inputs, do some specific computation and produces output. These functions are called user defined function

# Functions in Python

- Function Definition
- Positional and keyword Arguments in Functions

In [1]:
'''
Syntax
def funcname(parameter1,parameter2,...):
    function body

'''

'\nSyntax\ndef funcname(parameter1,parameter2,...):\n    function body\n\n'

In [2]:
#here we are passing a parameter num

def even_odd(num):
    if num%2 == 0:
        print('No. is even')
    else:
        print('No. is odd')

In [3]:
even_odd(69)

No. is odd

In [4]:
even_odd(52)

No. is even

In [5]:
even_odd()

#here since we have passed an argument/parameter num in function
#so we need to pass it when we are calling the function

TypeError: even_odd() missing 1 required positional argument: 'num'

Print vs return

In [6]:
def hello_world():
    print("Hello,Welcome")

In [7]:
hello_world()

Hello,Welcome

In [8]:
# we can see we hello_world function has been executed

In [9]:
#if we store it ijn variable called val and execute it
val = hello_world()

Hello,Welcome

In [10]:
print(val)

#it is giving output as none which means function is not retuting anything

None

In [11]:
#now we use a return staement

def hello_world():
    return "Hello,Welcome"

In [12]:
val = hello_world()

In [13]:
print(val)

#now we see the functiion is returning Hello,Welcome

Hello,Welcome

In [14]:
#return is used when our function is returning something

In [15]:
def add_no(num1,num2):
    return num1+num2

In [16]:
val = add_no(20,40)

In [17]:
val

60

In [18]:
val = add_no(20)
val

#here we see we have passed only one parameter or argument but two are required

TypeError: add_no() missing 1 required positional argument: 'num2'

# Position and keyword Argument

In [19]:
def hello(name,age=30):
    print("My name is {} and my age is {}".format(name,age))

In [20]:
hello('Surajit')

My name is Surajit and my age is 30

In [21]:
#here we see first argument 'name' which is passed is called positional argument
#Second argument age=30 which is passed in form of key: value pair key:age and value:30 is called the keyword argument
#key word argument has to be passed in the form of key value pair
#print statement understands that the first argument is name and the second argument is initialised to age=30

### **args = Positional Argument and **kwargs = Keyword argument

In [22]:
def hello(*args,**kwargs):
    print(args)
    print(kwargs)

In [23]:
hello("Surajit","Paul",age=30,dob=1992)

('Surajit', 'Paul')
{'age': 30, 'dob': 1992}

In [24]:
#here we can pass any no. of positional argument e.g "Surajit" and "Paul"
#here any no .of keyword argument passed in the form of key value pair e.g age =30 and dob = 1992

Here anything can be passed as *args example *name and **date_of_birth as **kwargs:

In [25]:
def hello(*name,**date_of_birth):
    print(name)
    print(date_of_birth)

In [26]:
hello("Surajit","Paul",age=30,dob=1992)

('Surajit', 'Paul')
{'age': 30, 'dob': 1992}

In [27]:
def hello(*lst,**dict_args):
    print(lst)
    print(dict_args)

In [28]:
lst  = ['Surajit','Paul']
dict_args = {"age":29,"dob":1992}

In [29]:
hello(lst,dict_args)

#here we see both bydefault is taken as *args which is wrong

#to fix it just pass *args and **kwargs with asterix

(['Surajit', 'Paul'], {'age': 29, 'dob': 1992})
{}

In [30]:
hello(*lst,**dict_args)

('Surajit', 'Paul')
{'age': 29, 'dob': 1992}

In [37]:
lst= [1,2,3,4,5,6,7]

In [38]:
#Return multiple parameters from function
#sum all even integers and all odd integers separately


def evenoddsum(lst):
    even_sum=0
    odd_sum=0
    for i in lst:
        if i%2==0:
            even_sum=even_sum+i
        else:
            odd_sum=odd_sum+i

    return even_sum,odd_sum

In [39]:
evenoddsum(lst)

(12, 16)

# Map Function in Python

In [40]:
#suppose we have a function that detemines wheter thw num is odd even

def even_or_odd(num):
    if num%2==0:
        return "The number {} is even".format(num)
    else:
        return "The number {} is odd".format(num)

In [41]:
even_or_odd(5)

'The number 5 is odd'

In [42]:
#suppose w ehave a list of numbers and we have to check each no. is even or odd

# so in this case we have to use a loop to iterate through whole list to check all elements one by one or we can simply use map function

In [43]:
#MAp function: 
#it takes two argument , 1st argument is function we want to use and 2nd Argument is iterable(in this case the list)

In [44]:
lst = [1,2,3,4,5,6,7,8,9,10,11]

In [45]:
map(even_or_odd,lst)

In [46]:
#here we see an object is printed
#map function uses lazy loaading loading technique i.e memory has not been instantiated by map function
#to instantiate:(use it by memory) we pass it in list

In [47]:
list(map(even_or_odd,lst))

['The number 1 is odd',
 'The number 2 is even',
 'The number 3 is odd',
 'The number 4 is even',
 'The number 5 is odd',
 'The number 6 is even',
 'The number 7 is odd',
 'The number 8 is even',
 'The number 9 is odd',
 'The number 10 is even',
 'The number 11 is odd']

# Lambda Functions

Lambda are anonymous one liner function

Lambda function are function with no name

In [65]:
def addition(a,b):
    return a+b

In [66]:
addition(4,5)

9

In [67]:
#how to write a lambda function

#first we write a lambda keyword
#Second we write what are the input vairables(positional arguments) sthat we are passing a,b
# Third is what is the operation we are doing inside it(written by colon and the expression following it)(in the above case is addition of a and b: a+b)

In [68]:
lambda a,b:a+b

In [69]:
#let me store the lambda function inside a variable

sum = lambda a,b:a+b

In [71]:
#just call the function using the variable name we have passed above
#pass the input parameters a,b to perform addition on 12,14
sum(12,14)

26

In [72]:
def even(num):
    if num %2 ==0:
        return True

In [73]:
even(24)

True

In [74]:
test = lambda num:num%2==0

In [75]:
test(12)

True

In [80]:
def addition(x,y,z):
    return x+y+z

In [81]:
addition(2,3,4)

9

In [84]:
sum = lambda x,y,z: x+y+z

In [85]:
sum(2,3,4)

9

In [86]:
sum1 = lambda a: x+y+z

In [87]:
sum1(2,3,4)

TypeError: <lambda>() takes 1 positional argument but 3 were given

In [ ]:
#in function lambda we have specified only one positional argument(input variable a) but while calling function we are passing three arguments(2,3,4)
#so we got the error

# Filter Function in Python

In [98]:
def even(num):
    if num%2 == 0:
        return True

In [99]:
lst = [1,2,3,4,5,6,7,8,9,0]

In [100]:
#if I want to apply the evn function to the lst of all elements

In [101]:
filter(even,lst)

In [102]:
list(filter(even,lst))

[2, 4, 6, 8, 0]

In [103]:
#converting to lamda function

In [104]:
filter(lambda num:num%2==0,lst)

In [105]:
list(filter(lambda num:num%2==0,lst))

[2, 4, 6, 8, 0]

In [106]:
list(map(lambda num:num%2==0,lst))

[False, True, False, True, False, True, False, True, False, True]

In [107]:
#so here we can see for filter only even no's are filtered and shown in output

In [108]:
#But in map all no's (even or odd) are shown in the output (As true False)

# Reduce Function in Python

In [109]:
#suppose we have a list of elemtns and we need to find the sum of all elemnts

In [110]:
lst = [1,2,3,4,5,6]

In [ ]:
#to sum all elements we sum two elemets at a time and then proceed

#1+2 = 3
#sum_previous(3)+third_element of list(3) =6
#proceed in similar manner
#6+4 = 10
#10+5 = 15
#15+6 = 21


#thus at a time we are proceeding with summing two elements and evaluatinng the sum

In [111]:
#now lets define a function to make sum of two numbers.

def sum(a,b):
    return a+b

In [112]:
#reduc function is present in module functools so we have to import it from module

In [113]:
from functools import reduce

In [114]:
#now applying reduce to sum up all the elements and "reduce" the result to just sum

In [116]:
#reduce takes two arguments (function , iterable(list in this case))

reduce(sum,lst)

21

In [117]:
#thus we see got the sum as 21 (that is the reduced output of sum of all integers)

In [118]:
#aplying reduce with lambda function

In [119]:
reduce(lambda a,b:a+b,lst)

21

In [120]:
#works with lambda function as well