In [ ]:
##Suppose we have a list l inside list we have many elemnts like int,string,set, dictionary and another list
#suppose of the last element from list l i.e [1,2,3,5292] I want to access print 5292 and i dont know the index
#WAP to acess the element

In [25]:
l= [5,6,7,8,"sudh",(4,5,6,7),{"name":"sudh"},{5,6,7,8},[1,2,3,5292]]

In [26]:
for i in l:   
    if type(i)==list:  
        for j in i:     
            if j == 5292:
                print("I have found 5292")
            else:
                print("Element is not a match")
                
#Line1--->     ##acess or traverses through all elements in list l
#line 2-->       ##checks datatpyes of all elements of the lis l
#Line3--->      ##now if in previous line 2 when list element inside l is found so we use local variable j to traverse through all elements of list[1,2,3,5292]

Element is not a match
Element is not a match
Element is not a match
I have found 5292

In [22]:
##Suppose we have a list l inside list we have many elemnts like int,string,set, dictionary and another list
#suppose of the tuplein list l i.e (4,5,6,7) I want to access print 7 and i dont know the index
#WAP to acess the element

[5, 6, 7, 8, 'sudh', (4, 5, 6, 7), {'name': 'sudh'}, [1, 2, 3, 5292]]

In [27]:
for i in l:   
    if type(i)==tuple:  
        for j in i:     
            if j == 7:
                print("I have found 7")
            else:
                print("Element is not a match")

Element is not a match
Element is not a match
Element is not a match
I have found 7

In [34]:
###if we know indexing the above code can be written as:
l[5][-1]
#her 5th elemnt is the tuple and when inside tuple (4,5,6,7): [-1] gives last element 7

7

In [ ]:
##Suppose we have a dictionary d inside dictionary we have many elemnts in values like string and another list
#suppose of the  list element inside dictionary I want  to access print element if it is greater than 60 and  i dont know the index
#WAP to acess the element

In [8]:
d = {"name":"Surajit","email":"surajit@email.com","no.": [90,99,7,55,58,6]}

In [9]:
d

{'name': 'Surajit',
 'email': 'surajit@email.com',
 'no.': [90, 99, 7, 55, 58, 6]}

In [10]:
#how to acess elemets of dictionary if dont know indexing#
#type d. and press tab to check inbuilt function
#d.keys() gives all the keys in our dictionary

In [11]:
d.keys()

dict_keys(['name', 'email', 'no.'])

In [12]:
for i in d.keys():
    print( d[i])
    
#here i will acesss/traverse through all the keys one by one and printd[i] will print the values corresponding to particular keys

Surajit
surajit@email.com
[90, 99, 7, 55, 58, 6]

In [13]:
##Suppose we have a dictionary d inside dictionary we have many elemnts in values like string and another list
#suppose of the  list element inside dictionary I want  to access print element if it is greater than 60 and  i dont know the index
#WAP to acess the element

In [14]:
d

{'name': 'Surajit',
 'email': 'surajit@email.com',
 'no.': [90, 99, 7, 55, 58, 6]}

In [15]:
##now for our problem
##what is dictionary.items() or items() method in dictionary:
##The items() method returns a view object. The view object contains the key-value pairs of the dictionary, as tuples in a list.

##******important concept****##

In [19]:
#####******Very Very important property****####

for i in d.items():
    if type(i[1]) == list:
        print(i)
        print(i[1])
##in line2--> we are specifiying if the first element in d.item is of datatype list: then go inside the nested loop:

('no.', [90, 99, 7, 55, 58, 6])
[90, 99, 7, 55, 58, 6]

In [20]:
##Here we can see that d.items() returns view object i.e tuples in key value pair but it is of datatype tuples
###so in the tuple the of key-value pair, the 1th item will be the value and 0th item is the key
###Here we are intersted in 60 which is a value in the key "no."
###Hence i[1] gives us the value that is the list [80, 95, 7, 18, 53, 6]
##line 4---> we are traversing through all elements of the value (which is actually a list )[ 80, 95, 7, 18, 53, 6]
###--> value [80, 95, 7, 18, 53, 6] for corresponding key: "no.". And the local variable j will help search for element 60 inside the list [[ 80, 95, 7, 18, 53, 6]]

In [21]:
for i in d.items():
    if type(i[1]) == list:
        print(i[1])
        for j in i[1]:
            if j>60:
                print("element greater than 60 is found:", j)
            else:    
                print("element is less than 60:" , j)

[90, 99, 7, 55, 58, 6]
element greater than 60 is found: 90
element greater than 60 is found: 99
element is less than 60: 7
element is less than 60: 55
element is less than 60: 58
element is less than 60: 6

# Allabout dictionary

In [64]:
#if we use curly braces to make disctionary we have to put use quotes for keys
mydict = {"name":"Max", "age":28,"city":"NewYork"}

In [65]:
print(mydict)

{'name': 'Max', 'age': 28, 'city': 'NewYork'}

In [83]:
#if we use dictionary using dict function then we dont have to put quotes and neither curly bracket for keys

mydict2 = dict(name="Mary",age=27,city="Boston")

In [84]:
print(mydict2)

{'name': 'Mary', 'age': 27, 'city': 'Boston'}

In [70]:
value = mydict["name"]
print(value)

Max

In [71]:
#dictionary is mutable

mydict["email"] = ("max@xyz.com" )

In [72]:
print(mydict)

{'name': 'Max', 'age': 28, 'city': 'NewYork', 'email': 'max@xyz.com'}

In [73]:
#if key is already present and we update the value for same key it is overwritten

In [80]:
mydict["email"] = ("coolmax@xyz.com" )

In [81]:
print(mydict)

{'city': 'NewYork', 'email': 'coolmax@xyz.com'}

In [76]:
#deleting any key value pair using dictionary

del mydict["name"]
print(mydict)

{'age': 28, 'city': 'NewYork', 'email': 'coolmax@xyz.com'}

In [77]:
#using pop method

mydict.pop("age")
print(mydict)

{'city': 'NewYork', 'email': 'coolmax@xyz.com'}

In [78]:
#using pop item method it removes the last inserted key value pair
#
mydict.popitem()
print(mydict)

{'city': 'NewYork'}

In [86]:
#to check if key is in dictionary


mydict2 = dict(name="Mary",age=27,city="Boston")
print(mydict2)

{'name': 'Mary', 'age': 27, 'city': 'Boston'}

In [87]:
#to check if key is in dictionary
if "name" in mydict2:
    print(mydict2["name"])

Mary

In [89]:
#using try except statement

try:
    print(mydict2["name"])
except:
    print("error")

Mary

In [90]:
#since key last name is not present in my dict hence an exception is thrown i.e "key error" which is caught by except block of code

try:
    print(mydict2["last name"])
except:
    print("error")

error

In [92]:
#looop through dictionary using (for in) loop

for key in mydict2:
    print(key)

name
age
city

In [93]:
for value in mydict2.values():
    print(value)

Mary
27
Boston

In [94]:
#if we want ot loop through both key and dictionary then we can use .items methof
for key,value in mydict2.items():
    print(key,value)

name Mary
age 27
city Boston

In [95]:
#copy a dictionary

mydict_cpy = mydict2
print(mydict_cpy)

{'name': 'Mary', 'age': 27, 'city': 'Boston'}

In [96]:
#if we modify mydict_cpy then original mydict2 is also modified as both the dictionaries are pointing to same address in the memory

mydict_cpy["email"] = ("max@xyz.com")

In [97]:
print(mydict2)
print(mydict_cpy)

#here we can see both dictionaries have the email key value pair updated

{'name': 'Mary', 'age': 27, 'city': 'Boston', 'email': 'max@xyz.com'}
{'name': 'Mary', 'age': 27, 'city': 'Boston', 'email': 'max@xyz.com'}

In [ ]:
#removing the email from both dictionaries using pop.items

In [99]:
mydict2.popitem()
print(mydict2)

{'name': 'Mary', 'age': 27, 'city': 'Boston'}

In [105]:
#now we can use the built in copy function

mydict_cpy = mydict2.copy()

mydict_cpy["email"] = ("max@xyz.com")

In [106]:
print(mydict2)

{'name': 'Mary', 'age': 27, 'city': 'Boston'}

In [107]:
print(mydict_cpy)

{'name': 'Mary', 'age': 27, 'city': 'Boston', 'email': 'max@xyz.com'}

In [ ]:
#now we can see above as it is a copy hence email is update sonly to mydict_cpy and original mydict2 didnt change

In [108]:
mydict3 = {"name":"Max","age":28,"email":"max@xyz.com"}
mydict4 = {"name":"Mary","age":27,"city":"Boston"}

In [109]:
print(mydict3)
print(mydict4)

{'name': 'Max', 'age': 28, 'email': 'max@xyz.com'}
{'name': 'Mary', 'age': 27, 'city': 'Boston'}

In [110]:
#how to merge 2 dictionaries

mydict3.update(mydict4)
print(mydict3)

#here we can see all the exisitng key got updates with values from mydict3 and missing key city got updates in mydict3 as email wasnt present in mydict4 so it is as it is

{'name': 'Mary', 'age': 27, 'email': 'max@xyz.com', 'city': 'Boston'}

In [112]:
#possible key types
#we can use any immutaable types as key e.g no's or a tuple as key if it ocntains any immutable type

mydict5= {3:9, 6:36,9:81}
print(mydict5)

{3: 9, 6: 36, 9: 81}

In [113]:
value= mydict5[0]

#here we have received a key error as by default index is 0 in ny dictionary but in mydict5 we have updated our key of first value as 3, second vlaue as 6 and thrid value as 9

KeyError: 0

In [114]:
#therefore to access the first value we have to pass

print(mydict5[3])

9

In [119]:
#using tuple as key

mytuple= (8,7)
mydict6= {mytuple: 15}

In [120]:
print(mydict6)

{(8, 7): 15}

In [121]:
#but if we use list as a key it gives un hashable error as list is mutable and key can't be mutable

#using tuple as key

mytuple= [8,7]
mydict7= {mytuple: 15}

TypeError: unhashable type: 'list'

# Everything about List

In [149]:
#list is an mutable datatype

#list can contain various type of elements and duplicate elemnet
mylist = ["banana","cherry","apple"]
mylist2= [5,True ,"apple", "apple"]

#two apples in our list

In [151]:
print(mylist2)
print(mylist)

[5, True, 'apple', 'apple']
['banana', 'cherry', 'apple']

In [152]:
item  = mylist[2]
print(item)

apple

In [153]:
#if we put a very large index we get index error as index starts from 0

In [154]:
item  = mylist[3]
print(item)

IndexError: list index out of range

In [155]:
#-1 represents last item

item  = mylist[-1]
print(item)

apple

In [156]:
#for iteracting all elemts in list

for x in mylist:
    print(x)

banana
cherry
apple

In [157]:
#to check if and elemnt present in the list

if "banana" in mylist:
    print("yes")
else:
    print("no")

yes

In [158]:
#check how many elemts in list using len method

print(len(mylist))

3

In [159]:
#append new item in list using append method


mylist.append("lemon")
print(mylist)

['banana', 'cherry', 'apple', 'lemon']

In [160]:
#append an item at specific position using inset method

mylist.insert(1,"blueberry")
print(mylist)

#here we have update shte cherry to blueberry

['banana', 'blueberry', 'cherry', 'apple', 'lemon']

In [146]:
#remove items using pop

item = mylist.pop()
print(item)
print(mylist)

#removed last element using pop method

lemon
['banana', 'blueberry', 'cherry', 'apple']

In [161]:
#remove a specific element uisng dot.remove method

item = mylist.remove("cherry")

print(mylist)

['banana', 'blueberry', 'apple', 'lemon']

In [162]:
#If item is not present in list and we try to remove it

item = mylist.remove("guava")

print(mylist)

ValueError: list.remove(x): x not in list

In [163]:
#remove all elemtnts using clear method

mylist1= ['banana', 'blueberry', 'apple', 'lemon']
print(mylist1)

['banana', 'blueberry', 'apple', 'lemon']

In [164]:
mylist1.clear()
print(mylist1)

[]

In [169]:
print(mylist)

['lemon', 'blueberry', 'banana', 'apple']

In [175]:


mylist3= [1,5,8,7,6,4,3,2,9]

In [176]:
print(mylist3)

[1, 5, 8, 7, 6, 4, 3, 2, 9]

In [177]:
#reverse a list using reverse mehtod()

item = mylist3.reverse()
print(mylist3)

[9, 2, 3, 4, 6, 7, 8, 5, 1]

In [178]:
#sort a list using the sort method
#sort method makes changed in original list itself
#supose we want to make changes in new list then use sorted method

new_list = sorted(mylist3)
print(mylist3)
print(new_list)

[9, 2, 3, 4, 6, 7, 8, 5, 1]
[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [179]:
#if we want a new list with same elemnts 5 times

mylist4= [0]*5
print(mylist4)

[0, 0, 0, 0, 0]

In [180]:
#concat 2 list using plus operator
#concats both the elements of the list

mylist5 = [1,2,3,4,5]

new_list2 = mylist4+mylist5
print(new_list2)

[0, 0, 0, 0, 0, 1, 2, 3, 4, 5]

In [181]:
#slicing of list

mylist6= [1,2,3,4,56,7,8,9]

#see new list which goes from 1 to 5 excluding element at index 5
a= mylist6[1:5]
print(a)

[2, 3, 4, 56]

In [182]:
a= mylist6[:5]
print(a)

[1, 2, 3, 4, 56]

In [183]:
a= mylist6[5:]
print(a)

[7, 8, 9]

In [ ]:
#optional step index to use that just put another colon (by defailt step is 1)

In [184]:
a= mylist6[::]
print(a)

[1, 2, 3, 4, 56, 7, 8, 9]

In [185]:

# first colon means go from beginning to end 
#second colon and 2 together means go with a step size of 2
a= mylist6[::2]
print(a)

[1, 3, 56, 8]

### here negative index -1 reverses a list

In [186]:
##here negative index -1 reverses a list

a= mylist6[::-1]
print(a)

[9, 8, 7, 56, 4, 3, 2, 1]

In [187]:
#copying a list (dont not assign directly using list_org=list_cpy as both will point to same memory location and changing 1 will change the other)

list_org= ["banana","cherry","apple"]
list_cpy= list_org.copy()
print(list_cpy)

['banana', 'cherry', 'apple']

In [188]:
list_cpy.append("lemon")

In [189]:
print(list_org)
print(list_cpy)

['banana', 'cherry', 'apple']
['banana', 'cherry', 'apple', 'lemon']

In [190]:
#using list method to copy

list_cpy = list(list_org)

In [191]:
print(list_cpy)

['banana', 'cherry', 'apple']

In [ ]:
#using slicing
#this colon means traversing of all elemnts of original list from beginng to end 
list_cpy = list_org[:]

In [196]:
#list compreshension to create new list fro org list using one line

mylist9 = [1,2,3,4,5,6]
b = [x*x for x in mylist9]
###   ^---expression,  and then for in loop
## for iterating we can use any local variable like x not required to be i

In [197]:
print(mylist9)
print(b)

[1, 2, 3, 4, 5, 6]
[1, 4, 9, 16, 25, 36]

# All about tuples

In [199]:
mytuple = ("Max", 28,"Boston")
print(mytuple)

('Max', 28, 'Boston')

In [ ]:
#parenthesis is optional in tuple

In [200]:
mytuple = "Max", 28,"Boston"
print(mytuple)

('Max', 28, 'Boston')

In [201]:
#only one elment is notm recognised as tuple

mytuple1 = ("max")
print(type(mytuple1))

<class 'str'>

In [202]:
# so correct syntax is put a comma

mytuple1 = ("max",)
print(type(mytuple1))

<class 'tuple'>

In [203]:
item  = mytuple[0]

In [204]:
print(item)

Max

In [205]:
item  = mytuple[1]
print(item)

28

In [206]:
#very large index gives index error

item  = mytuple[3]
print(item)

IndexError: tuple index out of range

In [207]:
#tuple is immutable

mytuple[0] = 'tim'

TypeError: 'tuple' object does not support item assignment

In [209]:
#iterating over tuple

for i in mytuple:
    print(i)

Max
28
Boston

In [210]:
for x in mytuple:
    print(x)

Max
28
Boston

In [213]:
#check if elment is inside tuple

if "Max"  in mytuple:
    print("yes")
else:
    print("No")

yes

In [214]:
#tuple is case sensitive
if "max"  in mytuple:
    print("yes")
else:
    print("No")

No

In [215]:
if "kevin"  in mytuple:
    print("yes")
else:
    print("No")

No

In [217]:
#create a tuple with letters


my_tuple = ['a',"p","p","l","e"]

#get length of tuple uisng len method

print(len(my_tuple))

5

In [218]:
#count of elemets in tuple

print(my_tuple.count('p'))

2

In [219]:
#count of elemets in tuple

print(my_tuple.count('l'))

1

In [221]:
#finding index of element

my_tuple.index('a')

0

In [222]:
#coverting a tuple to list using list and tuple function 

my_list = list(my_tuple)
print(my_list)

['a', 'p', 'p', 'l', 'e']

In [224]:
my_tuple2= tuple(my_list)
print(my_tuple2)

('a', 'p', 'p', 'l', 'e')

In [226]:
#slicing with tuples

a = (1,2,3,4,5,6,7,8,9)

b= a[2:5]
print(b)

(3, 4, 5)

In [227]:
a = (1,2,3,4,5,6,7,8,9)

b= a[:5]
print(b)

(1, 2, 3, 4, 5)

In [228]:
a = (1,2,3,4,5,6,7,8,9)

b= a[5:]
print(b)

(6, 7, 8, 9)

In [229]:
# first colon go from begiing to end using
#go from beginning to end using step of 2(consider alternate 2nd element)

a = (1,2,3,4,5,6,7,8,9)

b= a[::2]
print(b)

(1, 3, 5, 7, 9)

In [230]:
a = (1,2,3,4,5,6,7,8,9)

b= a[::-1]
print(b)

#reverses the tuple

(9, 8, 7, 6, 5, 4, 3, 2, 1)

In [232]:
#unpacking of tuple

my_tuple = "Max",28,"Boston"

#we can unpack using variables name, age city

name,age,city = my_tuple
print(name)
print(age)
print(city)

Max
28
Boston

In [233]:
name,age = my_tuple
print(name)
print(age)
print(city)

#no. of elements and variable must be same else we get value error

ValueError: too many values to unpack (expected 2)

In [234]:
my_tuple5 = (0,1,2,3,4)

i1, *i2, i3 = my_tuple5
print(i1)
print(i2)
print(i3)

# star (*) operator is ussed to unpack multiple elements in a tuple but it will be coverted to list
#i1 element at 0th index
#i3 element at last index

0
[1, 2, 3]
4

In [236]:
#working with tuople is more efficient than list

import sys
my_list = [0,1,2,"hello",True]
my_tuple = (0,1,2,"hello",True)
print(sys.getsizeof(my_list),"bytes")
print(sys.getsizeof(my_tuple),"bytes")

#even though same elements we see tuple is smaller

104 bytes
88 bytes

In [238]:
import timeit
print(timeit.timeit(stmt="[0,12,3,4,5]",number=1000000))
print(timeit.timeit(stmt="(0,12,3,4,5)",number=1000000))

0.046173399983672425
0.006915600009961054