# NumPy

NumPy is a general-purpose pacakage.It provide shigh performance multi dimensional array object and tools for working with these arrays> It is fundamanetal package for computing with Python.

# What is an Array

An array is a data structure that stores value of same data type. Whereas list can store value of different datatype.This is the main difference netween an array and a list.

In [2]:
#import numpy

import numpy as np

In [3]:
my_lst = [1,2,3,4,5]
arr= np.array(my_lst)
##please note we have used to convert list to array we have used np.array

In [4]:
print(type(arr))

<class 'numpy.ndarray'>

In [5]:
arr

array([1, 2, 3, 4, 5])

In [6]:
#this is one dimensional array as we have one square bracket as opening and one square bracket as closing

In [7]:
#Dimension for an array can be checked using the function .shape

arr.shape

(5,)

In [8]:
#how to convert 1D array to 2D array using reshape

In [9]:
#first create 3 list and convert it to array using np .array

In [10]:
my_lst1 = [1,2,3,4,5]
my_lst2 = [2,3,4,5,6]
my_lst3 = [9,7,6,8,9]

arr= np.array([my_lst1,my_lst2,my_lst3])

#Pass all the lists as list [] inside np.array()

In [11]:
arr

array([[1, 2, 3, 4, 5],
       [2, 3, 4, 5, 6],
       [9, 7, 6, 8, 9]])

In [12]:
arr.shape

(3, 5)

In [13]:
#now we see and identify that it has created a 2-D array.
#how do we know it is a 2-D array because it has 2 opening square bracket and 2 opening square bracket.
arr

array([[1, 2, 3, 4, 5],
       [2, 3, 4, 5, 6],
       [9, 7, 6, 8, 9]])

In [14]:
arr.shape

#first attribute in the output =3 is no. of rows
#Second attribute in the output =5 is no. of rows

(3, 5)

In [15]:
#mostly in eda we will work with 2d array
#numpy array has c++ support derieved from it so processing is very very fast

## Reshape NumPy Array

In [16]:
#Now we want to reshape the array
#Please note the count of elements in intial array arr= 5*3 =15
#so no. of elements after reshaping should also be 15

In [17]:
arr.reshape(5,3)

array([[1, 2, 3],
       [4, 5, 2],
       [3, 4, 5],
       [6, 9, 7],
       [6, 8, 9]])

In [18]:
##reshaping it to a different format.It is also 2d array

arr.reshape(1,15)

array([[1, 2, 3, 4, 5, 2, 3, 4, 5, 6, 9, 7, 6, 8, 9]])

## Indexing

how to retrieve the array elemts from array

We use indexing to retrieve array elemnts from array

In [19]:
arr1 = np.array([1,2,3,4,5,6,7,8,9])

In [20]:
arr1[3]

4

In [21]:
arr

array([[1, 2, 3, 4, 5],
       [2, 3, 4, 5, 6],
       [9, 7, 6, 8, 9]])

In [22]:
#here first row has index of zero elemts(1,2,3,4,5)
#her first column has index zero elements(1,2,9)

In [23]:
#indexing in 2d

arr[:,:]

#first colon (attribute)in arr[:,:] will tell to pick all rows
#Second colon(atttribute)in arr[:,:]  will tell to pick all columns

array([[1, 2, 3, 4, 5],
       [2, 3, 4, 5, 6],
       [9, 7, 6, 8, 9]])

In [24]:
#suppose we want elemts 5,6,8,9
#as we know indexing starts from 0
#her we see 5,6 are present in 1st row index(in terms of index as it index starts from zero)
#elemnts 8,9 are present in 2nd row index(in terms of index as it index starts from zero)
arr[1:3,:]
#here above it says pick 1st row row [1]untill 3rd row index[3]. Hence [1,3]. ,: means pick all columns

array([[2, 3, 4, 5, 6],
       [9, 7, 6, 8, 9]])

In [25]:
#for columns we want 3rd column and 4th column
arr[:,3:5]

array([[4, 5],
       [5, 6],
       [8, 9]])

In [26]:
#Now combining both row column pindesing parameters together
arr[1:3,3:5]

#we got 5,6,9 elements

array([[5, 6],
       [8, 9]])

In [27]:
arr

array([[1, 2, 3, 4, 5],
       [2, 3, 4, 5, 6],
       [9, 7, 6, 8, 9]])

In [ ]:
#pick 3,4,5 from second row i,e 1st row in terms of index

In [29]:
arr[1:2,1:4]

array([[3, 4, 5]])

### Arange function

In [ ]:
#Inbuilt function arange
#it creates an 1 dimensional array look into documentation pressing shif+tab
#here first parameter is start 0
#here second paramaeter is stop
#her third parameter is step size

In [30]:
arr = np.arange(0,10)

In [31]:
arr

array([0, 1, 2, 3, 4, 5, 6, 7, 8, 9])

In [32]:
arr = np.arange(0,10,2)

In [33]:
arr

array([0, 2, 4, 6, 8])

In [34]:
##Linspance
##divides the array between start and stop values equally into no. of values passed as i,e 1to 10 is divided into 50 equal parts

np.linspace(0,10,50)

array([ 0.        ,  0.20408163,  0.40816327,  0.6122449 ,  0.81632653,
        1.02040816,  1.2244898 ,  1.42857143,  1.63265306,  1.83673469,
        2.04081633,  2.24489796,  2.44897959,  2.65306122,  2.85714286,
        3.06122449,  3.26530612,  3.46938776,  3.67346939,  3.87755102,
        4.08163265,  4.28571429,  4.48979592,  4.69387755,  4.89795918,
        5.10204082,  5.30612245,  5.51020408,  5.71428571,  5.91836735,
        6.12244898,  6.32653061,  6.53061224,  6.73469388,  6.93877551,
        7.14285714,  7.34693878,  7.55102041,  7.75510204,  7.95918367,
        8.16326531,  8.36734694,  8.57142857,  8.7755102 ,  8.97959184,
        9.18367347,  9.3877551 ,  9.59183673,  9.79591837, 10.        ])

### Copy Function

In [35]:
##copy function
arr = np.arange(0,10)

In [36]:
arr

array([0, 1, 2, 3, 4, 5, 6, 7, 8, 9])

In [37]:
#copy function and broadcasting of an array

#take the array arrr and replace from 3 to all the elemts i.e 3,4,5,6,7,8,9 by 100

arr[3:]=100

In [38]:
arr

array([  0,   1,   2, 100, 100, 100, 100, 100, 100, 100])

In [39]:
arr1 = arr

In [40]:
arr1

array([  0,   1,   2, 100, 100, 100, 100, 100, 100, 100])

In [41]:
arr1[3:]=500
print(arr1)

[  0   1   2 500 500 500 500 500 500 500]

In [42]:
arr

array([  0,   1,   2, 500, 500, 500, 500, 500, 500, 500])

In [43]:
#We see replacement on arr1 has updated arr too
#hence array is a reference type , that means it shares the smae memory arr and arr1 share the same memory
#so any operator in one array will impact the other array too
#to prevent it we use .copy method

In [44]:
arr1= arr.copy()

In [45]:
print(arr1)

[  0   1   2 500 500 500 500 500 500 500]

In [46]:
print(arr)

[  0   1   2 500 500 500 500 500 500 500]

In [47]:
arr1[3:]=1000

In [48]:
arr1

array([   0,    1,    2, 1000, 1000, 1000, 1000, 1000, 1000, 1000])

In [49]:
arr

array([  0,   1,   2, 500, 500, 500, 500, 500, 500, 500])

In [50]:
#so we see no change in arr using the.copy method
#copy does is it cretaes another memory location to store the data

In [51]:
arr

array([  0,   1,   2, 500, 500, 500, 500, 500, 500, 500])

In [52]:
val=2
arr/2

array([  0. ,   0.5,   1. , 250. , 250. , 250. , 250. , 250. , 250. ,
       250. ])

In [53]:
arr*2

array([   0,    2,    4, 1000, 1000, 1000, 1000, 1000, 1000, 1000])

In [54]:
arr<2

array([ True,  True, False, False, False, False, False, False, False,
       False])

In [55]:
#suppose i need all elemts which is less than 2

arr[arr<2]

array([0, 1])

#### Np.ones

In [56]:
np.ones(4)

array([1., 1., 1., 1.])

In [57]:
#creates an 1D array with all ones no. of ones=4

In [59]:
##np.ones takes two parameters 
##1st is shape of array(2,5) and the 2nd is dtype
##array of 2 row sand 5 columns
#bt default dtype= float

np.ones((2,5),dtype=float)
#here it cretaes a 2D array

array([[1., 1., 1., 1., 1.],
       [1., 1., 1., 1., 1.]])

In [60]:
np.random.rand(3,3)

#selects random values or samples between 0 and 1 of shape 3 rows and 3 columns

array([[0.35603138, 0.94604271, 0.99453905],
       [0.39473423, 0.96522141, 0.26981722],
       [0.52601109, 0.53193901, 0.66245042]])

In [61]:
#selects values based on standard normal distribution(randn)
np.random.randn(4,4)

array([[-0.61121776, -0.26540988, -0.36440238, -0.32025727],
       [ 1.46166422,  0.15007614, -0.43840567,  1.37194991],
       [-1.0891324 ,  0.50023972, -0.36551056,  0.3892659 ],
       [ 0.84394615, -0.80464037,  0.11313185, -0.57701679]])